@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem; }

.navigation__list {
  list-style: none;
  display: flex;
  justify-content: end; }

.navigation__item {
  position: relative; }
  .navigation__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: darkolivegreen;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .navigation__item:hover::before {
    transform: scaleY(1);
    width: 100%; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s;
  position: relative;
  z-index: 10; }

.navigation__link:hover, .navigation__link:active {
  color: bisque;
  transform: translateX(10px); }

.main-float-container {
  width: 100%;
  height: 30rem;
  margin: 2rem auto;
  font-size: 1.6rem; }
  .main-float-container .main-float {
    width: 70%;
    background-color: white;
    color: black;
    float: left; }
    .main-float-container .main-float .address-bar__abs {
      font-size: 1.3rem;
      margin-bottom: -.1rem; }
    .main-float-container .main-float .synopsis {
      margin-top: 15rem;
      font-weight: bold; }
    .main-float-container .main-float .table {
      margin-top: 7rem; }
      .main-float-container .main-float .table__sum-lines {
        text-align: right; }
      .main-float-container .main-float .table table {
        border-collapse: collapse;
        width: 100%; }
        .main-float-container .main-float .table table tr {
          border-top: 2px solid #eee; }
        .main-float-container .main-float .table table th {
          padding: 15px;
          text-align: left;
          margin-right: 2rem; }
          .main-float-container .main-float .table table th:nth-child(3) {
            text-align: right; }
          .main-float-container .main-float .table table th:nth-child(4) {
            text-align: right; }
          .main-float-container .main-float .table table th:nth-child(5) {
            text-align: right; }
        .main-float-container .main-float .table table td {
          padding: 15px;
          margin-right: 5rem; }
          .main-float-container .main-float .table table td:first-child {
            width: 5%; }
          .main-float-container .main-float .table table td:nth-child(2) {
            width: 55%; }
          .main-float-container .main-float .table table td:nth-child(3) {
            width: 10%;
            text-align: right; }
          .main-float-container .main-float .table table td:nth-child(4) {
            width: 15%;
            text-align: right; }
          .main-float-container .main-float .table table td:nth-child(5) {
            width: 15%;
            text-align: right; }
        .main-float-container .main-float .table table .brutto-line {
          background-color: #0D4266;
          color: white;
          font-weight: bold; }
    .main-float-container .main-float .zahlungshinweis {
      margin-top: 10rem; }
    .main-float-container .main-float .signature {
      margin-top: 10rem;
      position: relative; }
      .main-float-container .main-float .signature__date {
        margin-bottom: 5rem; }
      .main-float-container .main-float .signature__stempel {
        position: absolute;
        right: 1rem;
        top: -5rem; }
      .main-float-container .main-float .signature__line::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor; }
      .main-float-container .main-float .signature__ort {
        width: 50%;
        float: left; }
      .main-float-container .main-float .signature__name {
        float: right; }
    .main-float-container .main-float .footer {
      margin-top: 15rem; }
      .main-float-container .main-float .footer__logo {
        float: left;
        width: 15%; }
      .main-float-container .main-float .footer__text {
        float: left;
        width: 85%; }
  .main-float-container .sidebar-float {
    width: 25%;
    background-color: white;
    color: black;
    float: left;
    margin-left: 5%;
    overflow: hidden;
    color: grey; }
    .main-float-container .sidebar-float .logo__img {
      width: 100%;
      margin-bottom: 15rem; }
    .main-float-container .sidebar-float .sidebar__block {
      margin-top: 1rem; }
      .main-float-container .sidebar-float .sidebar__block:not(:last-child)::after {
        content: "#######################################################";
        font-size: .8rem;
        font-weight: bold;
        color: #0D4266; }
      .main-float-container .sidebar-float .sidebar__block p span {
        font-weight: bold; }

.table__head-position {
  text-align: left; }

.table__head-einzelpreis {
  text-align: right; }

.table__head-anzahl {
  text-align: right; }

.table > * input {
  border: none;
  width: 90%; }

.table__description {
  width: 50rem; }

.table__stueckpreis {
  width: 10rem; }
  .table__stueckpreis input {
    text-align: right; }
    .table__stueckpreis input::-webkit-outer-spin-button, .table__stueckpreis input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }

.table__anzahl {
  width: 5rem; }
  .table__anzahl input {
    text-align: right; }
    .table__anzahl input[type=number]::-webkit-inner-spin-button, .table__anzahl input[type=number]::-webkit-outer-spin-button {
      opacity: 1; }

tbody .col-betrag, tbody .col-stueckpreis {
  color: green;
  text-align: right; }
  tbody .col-betrag::after, tbody .col-stueckpreis::after {
    content: '€'; }

.login-container {
  width: 80%;
  margin: 20px auto; }

.login__form #submit {
  background-color: green;
  color: white;
  padding: 5px 20px;
  border-radius: 10%;
  border: none;
  margin: 20px 0; }

.login__inputs {
  width: 40%;
  height: 100px;
  display: grid;
  grid-template-columns: 100%;
  justify-items: end;
  align-items: center;
  gap: 0px;
  justify-content: start;
  align-content: stretch; }
  .login__inputs p {
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr; }
    .login__inputs p input {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); }
    .login__inputs p label {
      font-weight: bold; }

.login__title {
  margin-bottom: 20px; }

.security-menu {
  width: 40%; }
  .security-menu__title {
    margin-bottom: 20px; }
  .security-menu__list {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between; }
  .security-menu__item {
    text-decoration: none; }
  .security-menu__link {
    text-decoration: none;
    color: black;
    transition: all .2s;
    display: inline-block; }
    .security-menu__link:hover, .security-menu__link:active {
      color: white;
      background-color: black;
      padding: 5px;
      transform: rotate(6deg); }

.playground__checkbox {
  display: none; }

.playground__button {
  background-color: aqua;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 20;
  text-align: center; }

.playground__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 10;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.playground__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.playground__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.playground__item {
  margin: 1rem; }

.playground__link:link, .playground__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .4s; }
  .playground__link:link span, .playground__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.playground__link:hover, .playground__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.playground__checkbox:checked ~ .playground__background {
  transform: scale(80); }

.playground__checkbox:checked ~ .playground__nav {
  opacity: 1;
  width: 100%; }

.playground__icon {
  position: relative;
  margin-top: 3.5rem; }
  .playground__icon, .playground__icon::before, .playground__icon::after {
    width: 3rem;
    height: 2px;
    background-color: grey;
    display: inline-block; }
  .playground__icon::before, .playground__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .playground__icon::before {
    top: -.8rem; }
  .playground__icon::after {
    top: .8rem; }

.playground__button:hover .playground__icon::before {
  top: -1rem; }

.playground__button:hover .playground__icon::after {
  top: 1rem; }

.playground__checkbox:checked + .playground__button .playground__icon {
  background-color: transparent; }

.playground__checkbox:checked + .playground__button .playground__icon::before {
  top: 0;
  transform: rotate(135deg); }

.playground__checkbox:checked + .playground__button .playground__icon::after {
  top: 0;
  transform: rotate(-135deg); }
