tbody{
    .col-betrag, .col-stueckpreis {
        color: green;
        text-align: right;
        &::after {
            content: '€';
        }
    }
}
thead{
    .list-checkbox-column{
        width: 3.1rem;
    }
}