.invoices-form{
    width: 60%;

    display: flex;
    justify-content: space-between;

    &__inputs{
        width: 80%;

        display: flex;
        justify-content: space-between;
    }

    &__label{
        margin-right: 1rem;
    }

    &__btn-btn{
        color: white;
        padding: .5rem 2rem;
        background-color: darkgreen;
        border-radius: 2rem;
        border: none;
        box-shadow: 0 1rem 2rem rgba(0,0,0, 0.2);

        &:hover{
            background-color: green;
        }
    }
}

.table-container{
    margin-top: 2rem;
}

.invoices{
    &__heads{
        text-transform: uppercase;
        font-weight: 300;   
    }

    &__cell{
        padding-right: 4rem;
        
        &:not(:first-child){
            text-align: right;
        }
    }
}

.summe{
    margin-top: 2rem;
    font-weight: bold;
}