.table {
    &__head-position {
        text-align: left;
    }

    &__head-einzelpreis {
        text-align: right;
    }

    &__head-anzahl {
        text-align: right;
    }

    & > * {
        input {
            border: none;
            width: 90%;
        }
    }

    &__description {
        width: 50rem;
    }

    &__stueckpreis {
        width: 10rem;

        input {
            text-align: right;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__anzahl {
        width: 5rem;

        input {
            text-align: right;
        }
    }

}
