{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-9">
        <div id="pk">Peter Kuschmierz /</div>
        <div id="adressat">
            {{ client_name }}<br>
            {{ strasse }}<br>
            {{ plz }} {{ ort }}
        </div>

        <div id="base-lines">
            Rg. Nr.: {{ rechnungsnummer_output }}<br>
            Rechnungs Datum: {{ today }} / Fällig bis: {{ target_output }}<br>
            Fälliger Betrag: {{ brutto }} €
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nr.</th>
                    <th scope="col">Beschreibung</th>
                    <th scope="col">Menge&nbsp/ Tag(e)</th>
                    <th scope="col">Preis</th>
                    <th scope="col">Gesamt</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(item_args | length // 4) %}
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ item_args[i * 4 + 0] }}</td>
                    <td>{{ item_args[i * 4 + 1] }}</td>
                    <td>{{ item_args[i * 4 + 2] }}&nbsp€</td>
                    <td>{{ item_args[i * 4 + 3] }}&nbsp€</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>Summe Netto:</td>
                    <td></td>
                    <td>{{ netto }}&nbsp€</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>gesetzl. MwSt.</td>
                    <td></td>
                    <td>{{ mwst }}&nbsp€</td>
                </tr>
                <tr class="brutto-line">
                    <td></td>
                    <td></td>
                    <td>Summe Brutto:</td>
                    <td></td>
                    <td>{{ brutto }}&nbsp€</td>
                </tr>
            </tbody>
        </table>

        <div class="zahlungsfrist">
            <p>
                Überweisen Sie bitte die Rechnungssumme innerhalb von 10 Tagen nach
                Rechnungsdatum auf das rechts genannte Bankkonto.
            </p>
        </div>

        <div class="row">
            <div class="col-9">
                <p>{{ today }}</p>
            </div>
            <div class="col-3">
                <img src="../static/images/signature.png">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-9">
                <p>Ort, Datum</p>
            </div>
            <div class="col-3">
                <p>Peter Kuschmierz</p>
            </div>
        </div>

        <div class="row footer">
            <div class="col-2">
                <img src="../static/images/logo-part.png">
            </div>
            <div class="col-10">
                <p class="schlusssatz">
                    Die eigene Sicherheit liegt in unseren Händen, deshalb heißt der gemeinsame
                    Nenner, Einschätzung und Vorhersage. Meine Firma sagt menschliches Verhalten
                    voraus, Verhalten in einer einzigen Kategorie. Gawalt! Doch viel öfter sagen
                    wir Sicherheit voraus. 
                </p>
            </div>
        </div>
        
    </div>
    <div class="col-3">
        <img src="../static/images/logo.jpg" class="logo" width="200">

        <div class="sidebar">
            <p>
                <b>Postadresse:</b><br>
                P / Kuschmierz<br>
                Organisationsberatung<br>
                Ruhrtalstr. 33a (Tor 3)<br>
                45239 Essen
            </p>
            <p>/////////////////////////////</p>
            <p>
                <b>Kontakt:</b><br> 
                Tel.: 0201 / 451 387 00<br>
                Mobil: 0172 / 454 4 167<br>
                info@pkuschmierz.de<br>
                www.pkuschmierz.de
            </p>
            <p>/////////////////////////////</p>
            <p>
                <b>Bankverbindung:</b><br> 
                Sparkasse Essen<br>
                Peter Kuschmierz<br>
                IBAN: DE90360501050002718153<br>
                BIC: SPESDE3EXXX
            </p>
            <p>/////////////////////////////</p>
            <p>
                Steuernummer: 112/5240/1521<br>
                Steuer ID: 80 536 926716
            </p>
        </div>
    </div>
</div>


{% endblock %}
