<div class="navigation">
    <div class="navigation__nev">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="{{ url_for('views.index') }}" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="{{ url_for('views.neue_rechnung_erzeugen') }}" class="navigation__link">Neue Rechnung</a></li>
            <li class="navigation__item"><a href="{{ url_for('admin.index') }}" class="navigation__link">Admin</a></li>
            <li class="navigation__item"><a href="{{ url_for('security.login') }}" class="navigation__link">Login</a></li>
        </ul>
    </div>
</div>