{% extends "base.html" %}

{% block content %}

<div class="container">
{% include "menu.html" %}

    <table class="table">
        <th class="table__head-position">Position</th>
        <th class="table__head-einzelpreis">Einzelpreis</th>
        <th class="table__head-anzahl">Anzahl</th>
    
        <form method="POST", action="/neue-rechnung-erzeugen">
            {{ form.csrf_token }}
        
            {% for item in items %}
            <tr>
                <td class="table__description">{{ form['beschreibung' + item.id|string](value=item.beschreibung) }}</td>
                <td class="table__stueckpreis">{{ form['stueckpreis' + item.id|string](value=item.stueckpreis) }} €</td>
                <td class="table__anzahl">{{ form['anzahl' + item.id|string] }}</td>                
            </tr>    
            {% endfor %}
    
    </table>
    
            Für Kunden {{ form.client }}
    
            <button class="btn btn-success">Rechnung erzeugen</button>
            
        </form>
    
    <p>
        {{ output }}
    </p>

</div>

{% endblock %}